**/bin/
**/obj/
.vs/
/CentralKitchenAndFranchise.API/obj
/CentralKitchenAndFranchise.API/obj
/CentralKitchenAndFranchise.API/obj
/CentralKitchenAndFranchise.API/obj
/CentralKitchenAndFranchise.API/obj
/CentralKitchenAndFranchise.DAL/obj
